*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}
html{
    scroll-behavior: smooth;
}



/*Navbar and hamburger style */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:black;
    position: fixed;
    width: 100%;
    top:0;
    animation: slideDown 1s linear 1;
    z-index:3;
}
  .navbar-toggler{
  display: none;
}

.logo{
    font-family: 'Sigmar One';
    color: #d3140d;
    font-size: 35px;
    font-weight: bold;
  }
  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    
}
.nav-links a{
    color:white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;

}
.nav-links a:hover{
    color: #d3140d;
}

.nav-links li{
    list-style: none;
}
  .burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 2px;
    background-color:white;
    margin:5px;
    transition: all 0.3s ease;

}
  



/*Welcome section*/
  section{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      min-height: 100vh;
  }
  section h1{
      padding: 15px;
      font-size: 60px;
      animation: slideDown 1s linear 1;
  }
  section p{
        padding: 15px;
        font-size: 20px;
        
  }
  section h3{
      padding: 15px;
      font-size: 25px;
      animation: up 1s linear 1;
  }
  .banner-area{
    z-index:-1000;
      height: 100%;
      background-color:none;
      background-image: url("back.JPEG");
      background-repeat: no-repeat;
      background-size:cover;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); 
      will-change: transform;
      color: white;
      text-shadow: black 0px 0px 10px;
      background-attachment: fixed;
      background-position: center center;

      
  }

  .banner-text button{
    font-size: 22px;
    border:none;
    background: #d3140d;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    animation: up 1s linear 1;
  }
 



  button:hover{
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: white;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }



  /*About me section*/



  .about{
      background-color: rgb(65, 63, 63);
      margin:auto;
     
  }
  .banner-text{
      height: 50%;
      margin-bottom: 50px;
      
  }
  .shop-image img{
      width: 50%;
      height: 50%;
      margin-top:20px;
      border:2px solid black;
      -webkit-box-shadow: 0px 15px 105px -26px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 15px 105px -26px rgba(0,0,0,0.75);
      box-shadow: 0px 15px 105px -26px rgba(0,0,0,0.75);
      
  }
  .description{
    text-align: left;
    text-align: justify;
    width: 60%;
    color:white;
  }
  
  .cytat p{
    text-align: center;
    font-size: 7vw;
    font-family: 'Dancing Script', cursive;
  }
  .dostawa p{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color:#d3140d;
  }
  .luz p{
    margin-top: 70px;
    text-align: center;
  }






  /* Asortyment */
  .asortyment{
    background-color:none;
    background-image: url("asortyment.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    -webkit-backgorund-size:cover;
    z-index:-1;
    color: white;
    text-shadow: black 0px 0px 10px;
  }
  .asortyment img{
      width: 50%;
      flex-basis: 50%;
      text-align: center;
      padding: 5px;
  }
  /*Kontakt&*/
  .contact{
      color: white;
      background-color: #d3140d;
  }
   .social {
    display: grid;
    grid-template-columns:repeat(2,6fr);
   
    letter-spacing: 0;
   
    padding: 0;
   
    font-size: 90px;
    color:white;
   }
   .fejs{
       margin-right: 0;
   }
   .fejs:hover{
       cursor: pointer;
       color:#3b5998;
   }
   .instagram:hover{
    color:#e4405f;
    cursor: pointer;
}
   .instagram{
       margin-left: 0;
   }
   .social iframe{
       margin-left:51%;
       width: 100%;
       height:40vh;
       -webkit-box-shadow: 0px 15px 105px -26px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 15px 105px -26px rgba(0,0,0,0.75);
      box-shadow: 0px 15px 105px -26px rgba(0,0,0,0.75);
       margin-top:20px;
       margin-bottom: 20px;
   }
   .contact-text i{
     font-size: 30px;
   }

   .tag{
    
    width: 30%;
    margin-top: 5%;
    transform: translateX(220.5%);
    position: absolute;
    text-shadow: black 0px 0px 10px;
    z-index: 2;
    
  }
  .tag img{
    height: 50vh;
    width: 30vh;
    
    
  }


   

   /*footer*/
   footer{
       background-color: black;
       color: #ffffff;
       text-align: center;
       border-top: 0.5px solid white;
       width: 100%;
   }



   /*RWD*/
   @media(max-width:1024px){
     .tag{
       display: none;
      
       
     }
     
     .banner-area{
       background-size: cover;
     }
   }
  
  @media (max-width: 952px){
      .nav-links{
          width: 60%;
          
      }
    }
  @media (max-width: 858px){
    body{
      width: 100%;
      overflow-x: hidden;
  }

  .nav{
    width: 100%;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    min-height: 95vh;
    top:8vh;
    background-color: #d3140d; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
    color: white;
  }

  .burger{
    display: block;
  }

  .nav-active{
    transform: translateX(0%);
  }





  /*Main*/
  .banner-area{
    background-attachment:scroll;
  }

  .shop-image img{
    width: 80vw;
    height: 40vh;
  }
  .about-text{
    text-align: center;
  
  }
  .description{
    width: 100%;
  }
  .cytat p{
    font-size: 15vw;
  }



 /*Asortymen RWB*/
  .asortyment{
    height: 100%;
    z-index:-1;
    background-size:cover;
  }
  .asortyment .photos li{
    flex-basis: 100%;
    padding:20px;
  }
  /*SOCIAL RWB*/
  .contact h1{
    font-size: 10vw;
  }


  .social i{
    float: left;
    margin-left: 40px;
   
  }

  .fejs,.instagram{
  
    width: 50%;
    transform: translateX(0%);
    float: left;
  }
 

  .social iframe{
    object-position: center;
    
  }
  .contact-text i{
    font-size: 22px;
  }
}


/*Animacje*/
@keyframes slideDown{
  from{
    
    transform: translateY(-50px);
  }
  to{
    transform: translateY(0px);
  }
}  
@keyframes left{
  0%{
    opacity: 0;
    transform: translateX(-80px);
  }
  100%{
    opacity: 1;
    transform:translateX(0px);
  }
}
@keyframes right{
  0%{
    opacity: 0;
    transform: translateX(80px);
  }
  100%{
    opacity: 1;
    transform:translateX(0px);
  }
}
@keyframes up {
  0%{
    opacity: 0;
    transform: translateY(80px);
  }
  100%{
    opacity: 1;
    transform:translateY(0px);
  }
}


@keyframes navLinkFade{
  from{
      opacity: 0;
      transform:translateX(80px);
  }
  to{
      opacity: 1;
      transform:translateX(0px);
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
  
}
  