*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}


/*Navbar and hamburger style */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:black;
    position: fixed;
    width: 100%;
    top:0;
}
.navbar-toggler{
    display: none;
}

.logo{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    
}
.nav-links a{
    color:white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;

}
.nav-links a:hover{
    color: coral;
}

.nav-links li{
    list-style: none;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 2px;
    background-color:white;
    margin:5px;
    transition: all 0.3s ease;

}


/*Welcome section*/
.home{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: coral;
    
}
.introduction{
    
    padding: 20px;
    margin-top: -10vh;
    flex:1;
    
}
.intro-text h1{
    animation: left 2s linear 1;
    font-size:90px;
    font-weight: 700;
    background-color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cta{
    animation: right 2s linear 1;
    padding: 50px 0px 0px 0px;
    margin-top: 20px;
}
.cta a{
    text-decoration: none;
    color: black;
}
.cta a:hover{
    color: white;
}
.start{
    
    border: 2px solid black ;
    text-align: center;
    background-color: coral;
    font-size: 20px;
    padding: 20px;
    border-radius: 2px;
    color: black;
    cursor: pointer;
    -webkit-box-shadow: 76px -35px 0px 2px rgba(0,0,0,1);
    -moz-box-shadow: 76px -35px 0px 2px rgba(0,0,0,1);
    box-shadow: 76px -35px 0px 2px rgba(0,0,0,1);
    text-transform: uppercase; 
    font-weight: 600; 

}
.start:hover{
    border:2px solid white;
    color: white;
    animation: buttonAnimation 1s linear 1 ;
    background-color: black;
    -webkit-box-shadow: 0px 0px 0px 0px black;
    -moz-box-shadow: 0px 0px 0px 0px black;
    box-shadow: 0px 0px 0px 0px black;
}


/*About me section*/
.about{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    min-height: 100vh;
    background-color:wheat;
}
.description{
    flex:1;
}
.about-text h1{
    margin-top: -200px;
    margin-left: 10px;
    font-size: 60px;
    color: black;
}
.about-text p{
    margin-top: 5px;
    font-size: 22px;
    color: black;
    margin-left: 10px;
}
.cover{
    flex:1;
   
    
}
.cover img{
    width: 30vw;
    height: 30vw;
   border-radius: 50%;
   margin-right: 20px;
   display: inherit;
   -webkit-box-shadow: 4px 32px 24px 15px rgba(0,0,0,0.66);
   -moz-box-shadow: 4px 32px 24px 15px rgba(0,0,0,0.66);
   box-shadow: 4px 32px 24px 15px rgba(0,0,0,0.66);
   
}

/*Projects section*/
.projects{
    
    width: 100%;
    margin: auto;
    align-items: center;
    min-height: 80vh;
    background-color: coral;
    object-position: center;  
  
}
.icons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
 

}
.icons img{
    width: 200px;
    height: 200px;
    padding: 50px;
    margin-left:100px;
    margin-top:100px;
    
}
.icons ul{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 800;
    margin-left:130px;    
}

.icons p{
    text-align: center;
    padding: 5px;
}



.icons button{
    margin-top: 50px;
    margin-left: 120px;
    font-size: 22px;
    font-weight: 800;
    border: 2px solid black ;
    text-align: center;
    background-color: black;
    font-size: 20px;
    padding: 20px;
    border-radius: 2px;
    color:white;
    cursor: pointer;
}
.icons button:hover{
    border:2px solid white;
    color: white;
    background-color: black;


}
.item3 ul{
    margin-left: 140px;
}

/*Contact section*/

.contact{
    
    width: 100%;
    margin: auto;
    align-items: center;
    min-height: 50vh;
    background-color:black;
    
}
.info{
    height: 100%;
}
.infotext{
    text-decoration: none;
    text-align: left;
    padding: 20px;
    
    color: coral;
}

.infotext h1{
    margin-top: 130px;
    text-transform: uppercase;
    font-size: 33px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    
    width: 75%;
    
    
}
.infotext h3{
   font-size: 22px;
   margin-top: 10px;
   
   width: 50%;
   

}
.infotext h4{
    font-size: 22px;
    margin-top: 10px;
    
    width: 40%;
    
}
.infotext a{
    text-decoration: none;
    color:coral;
    
    
}
.social{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    margin-left: 60%;
    margin-top: -130px;
    word-spacing: 20px;
    float:left;
    font-size: 90px;
    color:coral;
    
    
}
.fejs:hover{
    color:#3b5998;
    cursor: pointer;
}
.linkedin:hover{
    color:#5b5b5b;
    cursor: pointer;
}
.instagram:hover{
    color:#e4405f;
    cursor: pointer;
}
.chunk {
    width: 10px;
    height: 10px;
    
    opacity: 0;
    background-color: red;
    position: absolute;
    animation: dropDown 1.5s ease-in infinite;
  }
  
  .chunk:nth-child(1) {
    animation-delay: 0.3s;
    animation-duration: -0.9s;
    margin-left: 10px;
    left:10%;
  }
  
  .chunk:nth-child(2) {
    animation-delay: 3.3s;
    animation-duration: -0.7s;
    left:20%;
  }
  
  .chunk:nth-child(3) {
    animation-delay: 8.1s;
    animation-duration: -0.9s;
    left:30%;
  }
  
  .chunk:nth-child(4) {
    animation-delay: 4.8s;
    animation-duration: -0.4s;
    left:40%;
  }
  
  .chunk:nth-child(5) {
    animation-delay: 14.25s;
    animation-duration: -0.7s;
    left:50%;
  }
  
  .chunk:nth-child(6) {
    animation-delay: 15.3s;
    animation-duration: -0.9s;
    left:60%;
  }
  
  .chunk:nth-child(7) {
    animation-delay: 5.25s;
    animation-duration: -0.9s;
    left:70%;
  }
  
  .chunk:nth-child(8) {
    animation-delay: 1.2s;
    animation-duration: -0.8s;
    left:80%;
  }
  
  .chunk:nth-child(9) {
    animation-delay: 25.65s;
    animation-duration: -0.4s;
    left:90%;
  }
  .chunk:nth-child(10) {
    animation-delay: 25.65s;
    animation-duration: -0.4s;
    left:98%;
  }
  .footer{
      background-color: black;
  }
 .footer p{
     font-size: 15px;
     text-align: left;
     color: coral;
     margin-left: 15px;
 }
.footer a{
    text-decoration: none;
    color: coral;
} 





@media screen and (max-width:1024px){

    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:1024px){
    body{
        overflow-x: hidden;
        width: 100%;
    }

    .home{
        width: 100%;
        height: 100%;
    }
    .nav{
        width: 100%;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        top:6vh;
        background-color: black; 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
       

    }
    .nav-links li{
        opacity: 0;
        color: white;
        
    }
    .burger{
        display: block;
    }
    .nav-active{
        transform: translateX(0%);
    }
    .home{
        
        flex-direction: column;
        width: 100%;
        
    }
    .introduction{
        
        margin-top:120px;
        min-height: 90vh;
        width: 100%;
    }
    .intro-text h1{
        animation: up 1.5s linear 1 ;
        font-size: 70px;
        margin-right: -20px;
    }
    .cta{
        animation: down 1.5s linear 1;
        margin-left: -90px;
        margin-top:20px;
    }





    .about{
        flex-direction: column;
        text-align: left;
        width: 100%;
        height: 100%;
    }
    .description{
        margin-top: 20px;
        text-align: left;
    }
    .about-text{
        margin-top:300px;
        padding: 20px;
    }
    .cover img{
        height: 300px;
        width: 300px;
        float: left;
        margin-bottom:70px;
    }
    .projects{
        min-height: 100vh;
        width: 100%;
        
    }


    .icons{
        flex-direction: column;
        text-align: left;
        display:grid;
        grid-template-rows:repeat(4,1fr);
        grid-template-columns: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
        background-color: coral;
       
    }
    .item1 button{
        margin-left: 110px;
    }
    .item1 ul{
        margin-left: 110px;
    }
    .item2 img{
        margin-left: 80px;
    }
    .item2 ul{
        margin-left: 120px;
    }
    .item2 button{
        margin-left: 110px;
    }
    .item3 ul{
        margin-left: 130px;
    }
    .item3 button{
        margin-left: 110px;
    }
    .item3 img{
        margin-left: 80px;
    }
    .item4 img{
        margin-left: 80px;
    }
    .item4 ul{
        margin-left: 110px;
    }
    .item4 button{
        margin-left: 110px;
        margin-bottom: 10px;
    }



    .contact{
        height: 100%;
    }
    .info{
        height: 100%;
    }
    .infotext h1{
       margin-top: 0px;
        text-align: left;
    }
    .infotext h4{
        text-align: left;
        letter-spacing: 2px;
        
    }
    .social{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: 100px;
        float: left;
        font-size: 45px;
        margin-top: -5px;
        margin-left: 90px;
        text-align: center;
    }

    .chunk{
       position: absolute;
    }
    .chunk:nth-child(10){
        display: none;
        
    }


    
}
@keyframes dropDown {
    0% {
      transform: translateY(0px);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateY(350px);
      opacity: 0;
    }
  }
  



@keyframes up{
    0%{
        opacity: 0;
        transform:translateY(-80px);
    }
    100%{
        opacity: 1;
       transform: translateY(0px);
    }
}
@keyframes down{
    0%{
        opacity: 0;
        transform:translateY(200px);
    }
    100%{
        opacity: 1;
       transform: translateY(0px);
    }
}



@keyframes left{
    0%{
        opacity: 0;
        transform:translateX(-200px);
    }
    100%{
        opacity: 1;
       transform: translateX(0px);
    }
}

@keyframes right{
    0%{
        opacity: 0;
        transform:translateX(200px);
    }
    100%{
        opacity: 1;
        transform:translateX(0px);
    }

}



/*@keyframes slider{
    0%{
       
        transform: translateX(0px);
    }
    25%{
        
        transform: translateX(150px);
    }
    50%{
        transform: translateX(250px);
    }
    75%{
        transform: translateX(150px);
    }
    100%{
        transform: translateX(0px);
    }
}*/
/*@keyframes ball{
    0%{
        transform:translateX(0px);
        background-color: white;
        
    }
    10%{
        transform:translateX(0px);
        transform:translateY(120px);
        
    }
    20%{
        transform: translateX(150px);
    
    }
    30%{
        margin-left: 850px;
       transform: translateY(130px);
       
    }
    40%{
        transform: translateX(100px);
       
    }
    50%{
        margin-left: 600px;
        transform: translateY(130px);
    }
    60%{
       transform: translateX(10px);
    }
    70%{
        margin-right: 650px;
        transform: translateY(130px);
    }
    80%{
       transform: translateX(5px);
        
    }
    90%{
       transform: translateY(130px);
    }
    100%{
      transform: translateX(0px);
    }

}
*/




@keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(80px);
    }
    to{
        opacity: 1;
        transform:translateX(0px);
    }
}

@keyframes buttonAnimation{
    
    from  {
            
            -webkit-box-shadow: 76px -35px 0px 2px rgb(0, 0, 0);
            -moz-box-shadow: 76px -35px 0px 2px rgb(0, 0, 0);
            box-shadow: 76px -35px 0px 2px rgb(0, 0, 0);
            background-color: coral;
            
        }
    to {
            
            -webkit-box-shadow: 0px 0px 0px 0px coral ;
            -moz-box-shadow: 0px 0px 0px 0px coral;
            box-shadow: 0px 0px 0px 0px coral;
            background-color: black;
            
           
            
        }
        
}






.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    
}